.form-background {
    background-image: url('https://images.unsplash.com/photo-1606060295061-4a5de289f628?q=80&w=1857&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.form-signin {
    background: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 700px;
    margin: 0 2rem;
}

.form-floating {
    margin-bottom: 2rem;
}

.form-control {
    height: calc(3.75rem + 2px);
    padding: 1.25rem;
    font-size: 1.1rem;
}

button {
    font-size: 1.3rem;
    padding: 0.75rem;
}

h1 {
    margin-bottom: 2.5rem;
}
