.form-background {
    background-image: url('https://images.unsplash.com/photo-1606060295061-4a5de289f628?q=80&w=1857&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Añadido para dar más espacio alrededor del formulario */
}

.form-signin {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 3rem; /* Aumentado para más espacio interior */
    border-radius: 10px; /* Ajustado para una esquina más suave */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ajustado para una sombra más pronunciada */
    width: 100%;
    max-width: 700px; /* Aumentado para más ancho máximo */
    margin: 0 2rem; /* Asegura un mayor margen lateral */
}

.form-floating {
    margin-bottom: 2rem; /* Aumentado para más espacio entre los campos */
}

.form-control {
    height: calc(3.75rem + 2px); /* Ajustado para más altura */
    padding: 1.25rem; /* Ajustado para más espacio interior */
    font-size: 1.1rem; /* Aumentado para mayor tamaño de fuente */
}

button {
    font-size: 1.3rem; /* Aumentado para mayor tamaño de fuente */
    padding: 0.75rem; /* Añadido para más espacio dentro del botón */
}

h1 {
    margin-bottom: 2.5rem; /* Ajustado para más espacio debajo del encabezado */
}
